<div class="page-title light" style="background: url(assets/img/slider-2.jpg)">
  <div class="container">
    <div class="page-caption">
      <h2>Create Condidate</h2>
      <p>
        <a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Create
        Condidate
      </p>
    </div>
  </div>
</div>

<section class="gray">
  <div class="container">
    <form class="c-form" [formGroup]="condidate">
      <div class="box">
        <div class="box-header">
          <h4>General Information</h4>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-sm-4">
              <label>Full Name</label>
              <input
                formControlName="fullname"
                type="text"
                class="form-control"
              />
            </div>

            <div class="col-sm-4">
              <label>Email</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
              />
            </div>

            <div class="col-sm-4">
              <label>Password</label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
              />
            </div>
            <div class="col-sm-4">
              <label>Photo</label>
              <div class="custom-file-upload">
                <input
                  (change)="handlefileinput($event)"
                  type="file"
                  id="file"
                  name="myfiles[]"
                  multiple
                />
              </div>
            </div>

            <div class="col-sm-4">
              <label>LinkedIn</label>
              <input
                formControlName="linkedIn"
                type="text"
                class="form-control"
              />
            </div>

            <div class="col-sm-4">
              <label>Adresse</label>
              <input
                formControlName="adresse"
                type="text"
                class="form-control"
              />
            </div>
            <div class="col-sm-4">
              <label>Git</label>
              <input formControlName="git" type="text" class="form-control" />
            </div>
            <div class="col-sm-4">
              <label>Phone</label>
              <input formControlName="phone" type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button
          type="submit"
          class="btn btn-m theme-btn"
          (click)="registercondidate()"
        >
          Submit & Exit
        </button>
      </div>
    </form>
  </div>
</section>
