<div class="page-title light" style="background:url(assets/img/slider-2.jpg);">
    <div class="container">
        <div class="page-caption">
            <h2>Create Employer</h2>
            <p><a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Create Employer</p>
        </div>
    </div>
</div>
<section class="create-company gray">
    <div class="container">
        <form class="c-form" [formGroup]="entreprise">
            
        
            
       
            <div class="box">
                <div class="box-header">
                    <h4>Company Address</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Full Name</label>
                            <input formControlName="fullname" type="email" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <label>Email</label>
                            <input formControlName="email" type="email" class="form-control">
                        </div>
                        
                        <div class="col-sm-4">
                            <label>Phone </label>
                            <input formControlName="phone" type="text" class="form-control">
                        </div>
                        
                        <div class="col-sm-4">
                            <label>Password</label>
                            <input formControlName="password" type="password" class="form-control">
                        </div>
                        
                        <div class="col-sm-4">
                            <label>Website </label>
                            <input formControlName="website" type="text" class="form-control">
                        </div>
                        
                  

                        <div class="col-sm-4">
                            <label>Photo</label>
                            <div class="custom-file-upload">
                                <input (change)="handlefileinput($event)" type="file" id="file" name="myfiles[]" multiple />
                            </div>
                        </div>
                                                        
                     
                    </div>
                </div>
            </div>
            
     
            
            <div class="text-center">
                <button type="submit" class="btn btn-m theme-btn" (click)="createentrceprise()">Submit & Exit</button>
            </div>
            
        </form>
    </div>
</section>