<div class="page-title light" style="background: url(assets/img/slider-2.jpg)">
  <div class="container">
    <div class="page-caption">
      <h2>List Entreprise</h2>
      <p>
        <a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> List
        Entreprise
      </p>
    </div>
  </div>
</div>

<section class="gray">
  <div class="container">
    <div class="tab-content">
      <div class="tab-pane fade in show active" id="recent" role="tabpanel">
        <div class="col-md-4 col-sm-6" *ngFor="let p of listentreprise">
          <div class="contact-box">
            <div class="contact-img">
              <img
                src="http://localhost:4000/getfile/{{ p.picture }}"
                class="img-circle img-responsive"
                alt=""
                [routerLink]="['/myoffre', p._id]"
              />
            </div>

            <div class="contact-caption">
              <h4 class="font-16 font-midium">{{ p.fullname }}</h4>
              <span>{{ p.email }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
