<div class="page-title light" style="background: url(assets/img/slider-2.jpg)">
  <div class="container">
    <div class="page-caption">
      <h2>my Offre</h2>
      <p>
        <a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> My
        Offre
      </p>
    </div>
  </div>
</div>

<section class="create-company gray">
  <div class="container">
    <div class="table-responsive">
      <table class="table table-lg table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Email</th>
            <th>Contrat</th>
            <th>Date D'expiration</th>
            <th>Salaire</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of entreprise.offres">
            <td>
              <a [routerLink]="['/detailoffre', p._id]">
                <img
                  src="http://localhost:4000/getfile/{{ userconnect.picture }}"
                  class="avatar avatar-lg"
                  alt="Avatar"
                />
                <span class="mng-jb">{{ p.titre }}</span>
              </a>
            </td>
            <td><i class="ti-location-pin"></i> {{ p.place.name }}</td>
            <td>{{ userconnect.email }}</td>
            <td>{{ p.contrat.type }}</td>

            <td><i class="ti-credit-card"></i> {{ p.dateexpiration }}</td>
            <td>{{ p.salaire }}</td>
            <td>
              <button>
                <a
                  (click)="open(p)"
                  class="cl-success mrg-5"
                  data-toggle="modal"
                  data-target="#apply-job"
                  ><i class="fa fa-edit"></i
                ></a>
              </button>

              <button>
                <a
                  (click)="deleteoffres(p._id)"
                  class="cl-danger mrg-5"
                  data-toggle="tooltip"
                  data-original-title="Delete"
                  ><i class="fa fa-trash-o"></i
                ></a>
              </button>

              <button>
                <div class="cll-right">
                  <a
                    [routerLink]="['/listcondidature', p._id]"
                    class="btn btn-opening"
                    >{{ p.candidatures.length }} Opening</a
                  >
                </div>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- flexbox -->
      <div class="flexbox padd-10">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">«</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">»</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.flexbox -->
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="apply-job"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" id="myModalLabel2">
      <div class="modal-body">
        <div class="text-center">
          <img
            src="assets/img/logo job gate vertical-1 512.png"
            height="100px"
            width="100px"
            class="logo logo-display"
            alt=""
          />
          <h4 class="mrg-0">Front End Designer</h4>
          <span> 2708 Scenic Way, Sutter</span>
        </div>

        <form [formGroup]="form">
          <div class="form-group">
            <label>Titre</label>
            <input
              formControlName="titre"
              type="text"
              class="form-control"
              placeholder="Name"
            />
          </div>

          <div class="form-group">
            <label>Description</label>
            <input
              formControlName="description"
              type="email"
              class="form-control"
              placeholder="Email"
            />
          </div>

          <div class="form-group">
            <label>Date D'expiration</label>
            <input
              formControlName="dateexpiration"
              type="text"
              class="form-control"
              placeholder="Phone"
            />
          </div>
          <div class="form-group">
            <label>Salaire</label>
            <input
              formControlName="salaire"
              type="text"
              class="form-control"
              placeholder="Salaire"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Contrat</label>
            <select class="form-control" formControlName="contrat">
              <option *ngFor="let c of listcontrat" [value]="c._id">
                {{ c.type }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Skills</label>
            <select class="form-control" formControlName="skill">
              <option *ngFor="let c of listskill" [value]="c._id">
                {{ c.nbexperience }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Category</label>
            <select class="form-control" formControlName="category">
              <option *ngFor="let c of listcategory" [value]="c._id">
                {{ c.name }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Place</label>
            <select class="form-control" formControlName="place">
              <option *ngFor="let c of listplace" [value]="c._id">
                {{ c.name }}
              </option>
            </select>
          </div>

          <div class="form-group text-center">
            <button
              type="button"
              class="btn theme-btn btn-m"
              (click)="updateoffres()"
            >
              Save & Apply
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
