<div class="page-title light" style="background:url(assets/img/slider-2.jpg);">
    <div class="container">
        <div class="page-caption">
            <h2>Update Offre </h2>
            <p><a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Update offre</p>
        </div>
    </div>
</div>
<!-- ======================= End Page Title ===================== -->

<!-- ======================== Create Resume ====================== -->
<section class="gray">
    <div class="container">
        <form class="c-form" [formGroup]="formm">
            
            <!-- General Information -->
            <div class="box">
                <div class="box-header">
                    <h4>General Information</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                    
                        <div class="col-sm-4">
                            <label>Tittre</label>
                            <input formControlName="titre" type="text" class="form-control">
                        </div>
                        
                        <div class="col-sm-4">
                            <label>Description</label>
                            <input formControlName="description" type="text" class="form-control">
                        </div>
                        
                        <div class="col-sm-4">
                            <label>Date D'expiration</label>
                            <input formControlName="dateexpiration" type="email" class="form-control">
                        </div>
                        
                        <div class="col-sm-4">
                            <label>Salaire</label>
                            <input formControlName="salaire" type="text" class="form-control">
                        </div>
                        
                        <div class="col-sm-4">
                            <label>Places</label>
                            <input formControlName="place" type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <label>Contrat</label>
                            <input formControlName="contrat" type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <label>Skills</label>
                            <input formControlName="skill" type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <label>Category</label>
                            <input formControlName="category" type="text" class="form-control">
                        </div>
                
                        
                    </div>
                </div>
            </div>
            
            
            <div class="text-center">
                <button (click)="updateoffres()" type="submit" class="btn btn-m theme-btn">Submit & Exit</button>
            </div>
            
        </form>
    </div>
</section>



