<nav
  class="navbar navbar-default navbar-mobile navbar-fixed white no-background bootsnav"
>
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#navbar-menu"
      >
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="index.html">
        <img
          src="assets/img/logo job gate vertical-1 512.png"
          height="100px"
          width="100px"
          class="logo logo-display"
          alt=""
        />
        <img src="assets/img/logo.png" class="logo logo-scrolled" alt="" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul
        class="nav navbar-nav navbar-left"
        data-in="fadeInDown"
        data-out="fadeOutUp"
      >
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
          <ul class="dropdown-menu animated fadeOutUp">
            <li><a href="index.html">Home 1</a></li>
            <li><a routerLink="/listentreprise">Entreprise</a></li>
          </ul>
        </li>

        <li class="dropdown" *ngIf="isentreprise()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            >Employer</a
          >
          <ul class="dropdown-menu animated fadeOutUp">
            <li><a routerLink="/offreentreprise">My Offre</a></li>

            <li><a routerLink="/addoffre">Create Job</a></li>
            <li><a routerLink="/profileentreprise">Profil Company</a></li>
          </ul>
        </li>

        <li class="dropdown" *ngIf="iscondidate()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            >Candidate</a
          >
          <ul class="dropdown-menu animated fadeOutUp">
            <li><a routerLink="/listentreprise">List Entreprise</a></li>
            <li><a routerLink="/listoffre">List Offre</a></li>
            <li><a routerLink="/profilecondidate">Profile </a></li>
            <li><a routerLink="/favorite">My favorits</a></li>
            <li><a routerLink="/candidaturecondidate">List Candidature</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="br-right">
          <a routerLink="/login" *ngIf="!isconnect()"
            ><i class="login-icon ti-user"></i>Login</a
          >
        </li>
        <li class="br-right">
          <a (click)="logout()" *ngIf="isconnect()"
            ><i class="login-icon ti-user"></i>Sign Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
