<div class="page-title light" style="background: url(assets/img/banner-4.jpg)">
  <div class="container">
    <div class="page-caption">
      <h2>Brose Job</h2>
      <p>
        <a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Browse
        Job
      </p>
    </div>
  </div>
</div>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <div class="filter-wraps"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div
              class="candidate-list-layout"
              *ngFor="let candidature of offre.candidatures"
            >
              <div class="cll-wrap">
                <div class="cll-thumb">
                  <a href="employer-detail.html"
                    ><img
                      src="http://localhost:4000/getfile/{{
                        candidature.condidate.picture
                      }}"
                      class="img-responsive"
                      alt=""
                  /></a>
                </div>
                <div class="cll-caption">
                  <h4>{{ candidature.condidate.fullname }}</h4>
                  <ul>
                    <li>
                      <i class="ti-location-pin cl-danger"></i
                      >{{ candidature.condidate.adresse }}
                    </li>
                  </ul>
                </div>
              </div>

              <div class="cll-right">
                <a
                  (click)="deletecondidatures(candidature._id)"
                  class="btn btn-opening"
                  style="background-color: red"
                  >Delete</a
                >
                &nbsp;
                <a
                  (click)="acceptcondidatures(candidature._id)"
                  class="btn btn-opening"
                  *ngIf="!candidature.accept"
                  >Accept</a
                >
                &nbsp;
                <a
                  href="http://localhost:4000/getfile/{{ candidature.picture }}"
                  class="btn btn-opening"
                  style="background-color: coral"
                  >View CV
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
