<div class="job-verticle-list">
  <div class="vertical-job-card" *ngFor="let p of entreprise.offres">
    <div class="vertical-job-header">
      <div class="vrt-job-cmp-logo">
        <a href="job-detail.html"
          ><img
            src="http://localhost:4000/getfile/{{ entreprise.picture }}"
            class="img-responsive"
            alt=""
        /></a>
      </div>
      <h4>
        <a href="job-detail.html">{{ p.entreprise.fullname }}</a>
      </h4>

      <span class="com-tagline">{{ p.titre }}</span>
    </div>
    <div class="vertical-job-body">
      <div class="row">
        <div class="col-md-9 col-sm-8">
          <ul class="can-skils">
            <li><strong>Job titre: </strong>{{ p.titre }}</li>
            <li><strong>Job Type: </strong>{{ p.contrat.type }}</li>
            <li><strong>Experience: </strong>{{ p.description }}</li>

            <li>
              <strong>Skills: </strong>
              <span class="skill-tag">{{ p.skill.nbexperience }}</span>
            </li>
            <li><strong>Category: </strong>{{ p.category.name }}</li>
            <li><strong>Place: </strong>{{ p.place.name }}</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="vrt-job-act">
            <a
              (click)="open(p)"
              data-toggle="modal"
              data-target="#apply-job"
              class="btn-job theme-btn job-apply"
              >Apply Now</a
            >
            <a
              [routerLink]="['/detailoffre', p._id]"
              title=""
              class="btn-job light-gray-btn"
              >View Job</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modale -->
<div
  class="modal fade"
  id="apply-job"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" id="myModalLabel2">
      <div class="modal-body">
        <div class="text-center">
          <img
            src="assets/img/logo job gate vertical-1 512.png"
            height="100px"
            width="100px"
            class="logo logo-display"
            alt=""
          />
          <h4 class="mrg-0">Front End Designer</h4>
          <span> 2708 Scenic Way, Sutter</span>
        </div>

        <form [formGroup]="modale">
          <div class="form-group">
            <label>Upload CV</label>
            <div class="custom-file-upload">
              <input
                (change)="handlefileinput($event)"
                type="file"
                id="file"
                name="myfiles[]"
                multiple
              />
            </div>
          </div>

          <div class="form-group text-center">
            <button
              type="button"
              class="btn theme-btn btn-m"
              (click)="createcondidature()"
            >
              Save & Apply
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
