<div class="page-title light" style="background: url(assets/img/slider-2.jpg)">
  <div class="container">
    <div class="page-caption">
      <h2>Create An Account</h2>
      <p>
        <a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Log In
      </p>
    </div>
  </div>
</div>

<section class="gray">
  <div class="container">
    <div class="container">
      <div class="text-center">
        <img
          src="assets/img/logo job gate vertical-1 512.png"
          height="100px"
          width="100px"
          class="logo logo-display"
          alt=""
        />
      </div>

      <ul class="nav nav-tabs nav-advance theme-bg" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/registerentreprise">
            <i class="ti-user"></i>Register Employer</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/condidate">
            <i class="ti-user"></i>Register Candidate</a
          >
        </li>
      </ul>
      <div class="log-box">
        <form [formGroup]="login">
          <div class="form-group">
            <label>Email</label>
            <input
              formControlName="email"
              type="text"
              class="form-control"
              placeholder="email"
            />
          </div>

          <div class="form-group">
            <label>Password</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              placeholder="*********"
            />
          </div>

          <div class="form-group">
            <a routerLink="/forgetpassword" title="Forget" class="fl-right"
              >Forgot Password?</a
            >
          </div>
          <div class="form-group text-center">
            <button
              type="button"
              class="btn theme-btn full-width btn-m"
              (click)="logins()"
            >
              LogIn
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
