<div class="page-title light" style="background: url(assets/img/slider-2.jpg)">
  <div class="container">
    <div class="page-caption">
      <h2>Create Job</h2>
      <p>
        <a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Create
        Job
      </p>
    </div>
  </div>
</div>
<section class="create-job gray">
  <div class="container">
    <form class="c-form" [formGroup]="offre">
      <div class="box">
        <div class="box-header">
          <h4>Post Job</h4>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-sm-4">
              <label>Titre</label>
              <input type="text" class="form-control" formControlName="titre" />
            </div>

            <div class="col-sm-4">
              <label>Description</label>
              <input
                type="text"
                class="form-control"
                formControlName="description"
              />
            </div>
            <div class="col-sm-4">
              <label>Date D'expiration</label>
              <input
                type="date"
                class="form-control"
                formControlName="dateexpiration"
              />
            </div>
            <div class="col-sm-4 m-clear">
              <div class="form-group select-group">
                <label>Category*</label>
                <select
                  formControlName="category"
                  class="form-select form-control"
                >
                  <option *ngFor="let ca of listcategory" [value]="ca._id">
                    {{ ca.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-4 m-clear">
              <div class="form-group select-group">
                <label>Contrat*</label>
                <select
                  formControlName="contrat"
                  class="form-select form-control"
                >
                  <option *ngFor="let ca of listcontrat" [value]="ca._id">
                    {{ ca.type }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-4 m-clear">
              <label>Salaire</label>
              <input
                type="text"
                class="form-control"
                formControlName="salaire"
              />
            </div>
            <div class="col-sm-4 m-clear">
              <div class="form-group select-group">
                <label>Skills*</label>
                <select
                  formControlName="skill"
                  class="form-select form-control"
                >
                  <option *ngFor="let pl of listskills" [value]="pl._id">
                    {{ pl.nbexperience }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-4 m-clear">
              <div class="form-group select-group">
                <label>Place*</label>
                <select
                  formControlName="place"
                  class="form-select form-control"
                >
                  <option *ngFor="let p of listplace" [value]="p._id">
                    {{ p.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button
          type="submit"
          class="btn btn-m theme-btn"
          (click)="createoffre()"
        >
          Submit &amp; Exit
        </button>
      </div>
    </form>
  </div>
</section>
