<div
  class="main-banner"
  style="background-image: url(assets/img/banner-1.jpg)"
  data-overlay="8"
>
  <div class="container">
    <div class="col-md-12 col-sm-12">
      <div class="caption text-center cl-white">
        <h2>Find Your Career. You Deserve it.</h2>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias
        </p>
      </div>

      <div>
        <fieldset class="home-form-1">
          <div class="col-md-4 col-sm-4 padd-0">
            <input
              type="text"
              class="form-control br-1"
              placeholder="Skills, Designation, Companies"
              [(ngModel)]="term"
            />
          </div>

          <div class="col-md-3 col-sm-3 padd-0">
            <div class="nice-select wide form-control br-1" tabindex="0">
              <span class="current">Location</span>
              <ul class="list">
                <li
                  data-value="1"
                  class="option"
                  *ngFor="let p of listplace"
                  [value]="p._id"
                >
                  {{ p.name }}
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 padd-0">
            <div class="nice-select wide form-control" tabindex="0">
              <span class="current">Category</span>
              <ul class="list">
                <li
                  data-value="1"
                  class="option"
                  *ngFor="let p of listcategory"
                  [value]="p._id"
                >
                  {{ p.name }}
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-2 col-sm-2 padd-0 m-clear">
            <button type="submit" class="btn theme-btn cl-white seub-btn">
              FIND JOB
            </button>
          </div>
        </fieldset>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="cmp-overview">
            <div class="cmp-icon">
              <i class="cmp-i icon-profile-male"></i>
              <i class="fa fa-check"></i>
            </div>
            <div class="cmp-detail">
              <h3>{{ listcondidate.length }}</h3>
              <span>Active Workers</span>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="cmp-overview">
            <div class="cmp-icon">
              <i class="cmp-i icon-desktop"></i>
              <i class="fa fa-check"></i>
            </div>
            <div class="cmp-detail">
              <h3>{{ listentreprise.length }}</h3>
              <span>Companies</span>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="cmp-overview">
            <div class="cmp-icon">
              <i class="cmp-i icon-global"></i>
              <i class="fa fa-check"></i>
            </div>
            <div class="cmp-detail">
              <h3>{{ listplace.length }}</h3>
              <span>Countries</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="widget-boxed padd-bot-0 lg">
          <div class="widget-boxed-body map-searches">
            <div class="icon-addon addon-lg">
              <input
                type="text"
                class="form-control"
                placeholder="Skills, Designation..."
                [(ngModel)]="term"
              />
              <i class="ti-search"></i>
            </div>
          </div>
        </div>

        <div class="widget-boxed padd-bot-0">
          <div class="widget-boxed-header">
            <h4>Job Type</h4>
          </div>
          <div class="widget-boxed-body">
            <div class="side-list no-border">
              <ul>
                <li *ngFor="let p of listcontrat">
                  <span class="custom-checkbox">
                    <input
                      type="checkbox"
                      id="a1"
                      [value]="p._id"
                      (change)="onchangebycontrat($event)"
                    />
                    <label for="a1"></label>
                  </span>
                  {{ p.type }}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="widget-boxed padd-bot-0">
          <div class="widget-boxed-header br-0">
            <h4>
              Place
              <a href="#designation" data-toggle="collapse"
                ><i class="pull-right ti-plus" aria-hidden="true"></i
              ></a>
            </h4>
          </div>
          <div class="widget-boxed-body collapse" id="designation">
            <div class="side-list no-border">
              <ul>
                <li *ngFor="let p of listplace">
                  <span class="custom-checkbox">
                    <input
                      type="checkbox"
                      id="a"
                      [value]="p._id"
                      (change)="onchangebyplace($event)"
                    />
                    <label for="a"></label>
                  </span>
                  {{ p.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-sm-12">
        <div class="row mrg-bot-20">
          <div class="col-sm-5">
            <h4>{{ listoffre.length }} Jobs</h4>
          </div>

          <div class="col-sm-7"></div>
        </div>

        <div class="job-verticle-list">
          <div
            class="vertical-job-card"
            *ngFor="let p of listoffre | filter : term"
          >
            <div class="vertical-job-header">
              <div class="vrt-job-cmp-logo">
                <a href="job-detail.html"
                  ><img
                    src="http://localhost:4000/getfile/{{
                      p.entreprise.picture
                    }}"
                    class="img-responsive"
                    alt=""
                /></a>
              </div>
              <h4>
                <a href="job-detail.html">{{ p.entreprise.fullname }}</a>
              </h4>

              <span class="com-tagline">{{ p.titre }}</span>
            </div>
            <div class="vertical-job-body">
              <div class="row">
                <div class="col-md-9 col-sm-8">
                  <ul class="can-skils">
                    <li><strong>Job titre: </strong>{{ p.titre }}</li>
                    <li><strong>Job Type: </strong>{{ p.contrat.type }}</li>
                    <li><strong>Experience: </strong>{{ p.description }}</li>

                    <li>
                      <strong>Skills: </strong>
                      <span class="skill-tag">{{ p.skill.nbexperience }}</span>
                    </li>
                    <li><strong>Category: </strong>{{ p.category.name }}</li>
                    <li><strong>Place: </strong>{{ p.place.name }}</li>
                  </ul>
                </div>
                <div class="col-md-3 col-sm-4">
                  <div class="vrt-job-act">
                    <a
                      (click)="isconect(p)"
                      data-toggle="modal"
                      data-target="#apply-job"
                      class="btn-job theme-btn job-apply"
                      >Apply Now</a
                    >
                    <a
                      [routerLink]="['/detailoffre', p._id]"
                      title=""
                      class="btn-job light-gray-btn"
                      >View Job</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="job-verticle-list"></div>
        <div class="job-verticle-list"></div>
        <div class="job-verticle-list"></div>
        <div class="job-verticle-list"></div>
      </div>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="apply-job"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" id="myModalLabel2">
      <div class="modal-body">
        <form [formGroup]="modale">
          <div class="form-group">
            <label>Upload CV</label>
            <div class="custom-file-upload">
              <input
                (change)="handlefileinput($event)"
                type="file"
                id="file"
                name="myfiles[]"
                multiple
              />
            </div>
          </div>

          <div class="form-group text-center">
            <button
              type="button"
              class="btn theme-btn btn-m"
              (click)="createcondidature()"
            >
              Save & Apply
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
