<footer class="footer">
    <div class="container">
      
      <!-- Row Start -->
      <div class="row">
      
        <div class="col-md-8 col-sm-8">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <h4>Featured Job</h4>
              <ul>
                <li><a href="#">Browse Jobs</a></li>
                <li><a href="#">Premium MBA Jobs</a></li>
                <li><a href="#">Access Database</a></li>
                <li><a href="#">Manage Responses</a></li>
                <li><a href="#">Report a Problem</a></li>
                <li><a href="#">Mobile Site</a></li>
                <li><a href="#">Jobs by Skill</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4">
              <h4>Featured Job</h4>
              <ul>
                <li><a href="#">Browse Jobs</a></li>
                <li><a href="#">Premium MBA Jobs</a></li>
                <li><a href="#">Access Database</a></li>
                <li><a href="#">Manage Responses</a></li>
                <li><a href="#">Report a Problem</a></li>
                <li><a href="#">Mobile Site</a></li>
                <li><a href="#">Jobs by Skill</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4">
              <h4>Featured Job</h4>
              <ul>
                <li><a href="#">Browse Jobs</a></li>
                <li><a href="#">Premium MBA Jobs</a></li>
                <li><a href="#">Access Database</a></li>
                <li><a href="#">Manage Responses</a></li>
                <li><a href="#">Report a Problem</a></li>
                <li><a href="#">Mobile Site</a></li>
                <li><a href="#">Jobs by Skill</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-4">
          <h4>Featured Job</h4>
          <p>At Vero Eos Et Accusamus Et Iusto Odio Dignissimos Ducimus Qui Blanditiis.At Vero Eos.</p>
          
          <!-- Social Box -->
          <div class="f-social-box">
            <ul>
              <li><a href="#"><i class="fa fa-facebook facebook-cl"></i></a></li>
              <li><a href="#"><i class="fa fa-google google-plus-cl"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter twitter-cl"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest pinterest-cl"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram instagram-cl"></i></a></li>
            </ul>
          </div>
          
          <!-- App Links -->
          <div class="f-app-box">
            <ul>
              <li><a href="#"><i class="fa fa-apple"></i>App Store</a></li>
              <li><a href="#"><i class="fa fa-android"></i>Play Store</a></li>
            </ul>
          </div>
          
        </div>
        
      </div>
      
      <!-- Row Start -->
      <div class="row">
        <div class="col-md-12">
          <div class="copyright text-center">
            <p>&copy; Copyright 2018 Jobvivo | Powerd By <a href="http://themezhub.com/" title="Themez Hub">Themez Hub</a></p>
          </div>
        </div>
      </div>
      
    </div>
  </footer>
