<div class="page-title light" style="background: url(assets/img/slider-2.jpg)">
  <div class="container">
    <div class="page-caption">
      <h2>Create Job</h2>
      <p>
        <a href="#" title="Home">Home</a>
        <i class="ti-arrow-right"></i> ForgetPassword
      </p>
    </div>
  </div>
</div>
<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center min-vh-100 g-0">
    <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <div class="text-center">
              <img
                src="assets/img/logo job gate vertical-1 512.png"
                height="120px"
                width="120px"
                class="logo logo-display"
                alt=""
              />
            </div>
            <h5>Forgot Password?</h5>
            <p class="mb-2">
              Enter your registered email ID to reset the password
            </p>
          </div>
          <form [formGroup]="form">
            <div class="form-group">
              <label>Email </label>
              <input
                formControlName="email"
                type="text"
                class="form-control"
                placeholder="Enter Your Email"
              />
            </div>

            <div class="form-group text-center">
              <button
                (click)="forgetpasswordd()"
                type="button"
                class="btn theme-btn full-width btn-m"
              >
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
