<section
  class="detail-section"
  style="background: url(assets/img/slider-2.jpg)"
  data-overlay="7"
>
  <div class="overlay"></div>
  <div class="profile-cover-content">
    <div class="container">
      <div class="cover-buttons">
        <ul>
          <li>
            <div class="buttons medium button-plain">
              <i class="fa fa-phone"></i>+{{ offre.entreprise.phone }}
            </div>
          </li>
          <li>
            <div class="buttons medium button-plain">
              <i class="fa fa-map-marker"></i># {{ offre.place.name }}
            </div>
          </li>
        </ul>
      </div>
      <div class="job-owner hidden-xs hidden-sm">
        <div class="job-owner-avater">
          <img
            src="http://localhost:4000/getfile/{{ offre.entreprise.picture }}"
            class="img-responsive img-circle"
            alt=""
          />
        </div>
        <div class="job-owner-detail">
          <h4>Web Designing</h4>
          <span class="theme-cl">Google PVT</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="detail-wrapper">
          <div class="detail-wrapper-body">
            <div class="job-title-bar">
              <h3>
                {{ offre.titre }}
                <span class="mrg-l-5 job-tag bg-success-light">{{
                  offre.contrat.type
                }}</span>
              </h3>

              <div>
                <p class="mrg-bot-0">
                  <i class="ti-location-pin mrg-r-5"></i>
                  {{ offre.place.name }}
                </p>

                <p><strong>Skills</strong> :{{ offre.skill.nbexperience }}</p>
                <p><strong>Category</strong> :{{ offre.category.name }}</p>
                <p><strong>Experience</strong> :{{ offre.description }}</p>
                <p><strong>Salaire</strong> :{{ offre.salaire }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="detail-wrapper">
          <div class="detail-wrapper-header">
            <h4>Responsibilities</h4>
          </div>
          <div class="detail-wrapper-body">
            <ul class="detail-list">
              <li>
                Execute all visual design stages from concept to final hand-off
                to engineering
              </li>
              <li>
                Conceptualize original website design ideas that bring
                simplicity and user friendliness to complex roadblocks
              </li>
              <li>
                Create wireframes, storyboards, user flows, process flows and
                site maps to communicate interaction and design ideas
              </li>
              <li>
                Present and defend designs and key deliverables to peers and
                executive level stakeholders
              </li>
              <li>
                Establish and promote design guidelines, best practices and
                standards
              </li>
            </ul>
          </div>
        </div>

        <div class="detail-wrapper">
          <div class="detail-wrapper-header">
            <h4>Requirements</h4>
          </div>
          <div class="detail-wrapper-body">
            <ul class="detail-list">
              <li>Proven work experienceas a web designer</li>
              <li>
                Demonstrable graphic design skills with a strong portfolio
              </li>
              <li>
                Proficiency in HTML, CSS and JavaScript for rapid prototyping
              </li>
              <li>Experience working in an Agile/Scrum development process</li>
              <li>
                Excellent visual design skills with sensitivity to user-system
                interaction
              </li>
              <li>Ability to solve problems creatively and effectively</li>
              <li>
                Up-to-date with the latest Web trends, techniques and
                technologies
              </li>
              <li>
                BS/MS in Human-Computer Interaction, Interaction Design or a
                Visual Arts subject
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="comments">
        <div class="comments-title">
          <h4>Comments ({{ offre.commentaires.length }})</h4>
        </div>

        <div class="single-comment" *ngFor="let i of offre.commentaires">
          <div class="img-holder">
            <img
              src="http://localhost:4000/getfile/{{ i.condidate.picture }}"
              class="img-responsive"
              alt=""
            />
          </div>
          <div class="text-holder">
            <div class="top">
              <div class="name pull-left">
                <h4>{{ i.condidate.fullname }}</h4>
              </div>
              <div class="rating pull-right">
                <ul>
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
            <div class="text">
              <p>
                {{ i.description }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="comments-form">
            <div class="section-title2">
              <h4>Leave a Reply</h4>
            </div>

            <form [formGroup]="added">
              <div class="col-md-12 col-sm-12">
                <textarea
                  formControlName="description"
                  class="form-control"
                  placeholder="Comment"
                ></textarea>
              </div>
              <div class="col-md-12 col-sm-12">
                <button
                  (click)="createcommentaire()"
                  class="btn theme-btn width-200"
                  type="submit"
                >
                  submit now
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="sidebar"></div>
      </div>
    </div>
  </div>
</section>
