<div class="page-title">
  <div class="container">
    <div class="page-caption">
      <h2>Profile Settings</h2>
      <p>
        <a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Profile
        Condidate
      </p>
    </div>
  </div>
</div>

<section>
  <form [formGroup]="formupdate">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="form-group">
            <div class="contact-img">
              <img
                src="http://localhost:4000/getfile/{{ userconnect.picture }}"
                class="img-circle img-responsive"
                alt=""
              />
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Full Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="fullname"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email" />
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" formControlName="phone" />
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Address</label>
              <input
                type="text"
                class="form-control"
                formControlName="adresse"
              />
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Linkedin</label>
              <input
                type="text"
                class="form-control"
                formControlName="linkedIn"
              />
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 padd-top-20">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 col-12"></div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Git</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="git"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-12 padd-top-20 text-center">
          <a (click)="updatecondidate()" class="btn btn-m theme-btn"
            >Update & Exit</a
          >
          &nbsp;
          <a (click)="deleteuser(userconnect._id)" class="btn btn-m theme-btn"
            >Delete & Exit</a
          >
        </div>
      </div>
    </div>
  </form>
</section>
