<div class="page-title light" style="background: url(assets/img/slider-2.jpg)">
  <div class="container">
    <div class="page-caption">
      <h2>Favorit</h2>
      <p>
        <a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> Favorit
      </p>
    </div>
  </div>
</div>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="table-responsive">
          <table class="table table-lg table-hover">
            <thead>
              <tr>
                <th>Job Title</th>
                <th>Location</th>
                <th>Job Type</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let p of items">
                <td>
                  <a href="job-detail.html"
                    ><img
                      src="http://localhost:4000/getfile/{{
                        p.entreprise.picture
                      }}"
                      class="avatar-lg"
                      alt="Avatar"
                    />{{ p.titre }}
                  </a>
                </td>
                <td><i class="ti-location-pin"></i> {{ p.place.name }}</td>
                <td>
                  <div class="job-type full-type">{{ p.contrat.type }}</div>
                </td>
                <td><i class="ti-credit-card"></i> ${{ p.salaire }}</td>
                <td>
                  <a
                    (click)="removefavorit(p)"
                    data-toggle="modal"
                    data-target="#apply-job"
                    class="apply-job-btn btn btn-radius theme-btn"
                    >Remove</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
