<div class="page-title light" style="background: url(assets/img/banner-4.jpg)">
  <div class="container">
    <div class="page-caption">
      <h2>List Candidature</h2>
      <p>
        <a href="#" title="Home">Home</a> <i class="ti-arrow-right"></i> List
        Candidature
      </p>
    </div>
  </div>
</div>

<section class="gray">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <div
              class="candidate-list-layout"
              *ngFor="let p of listcondidature"
            >
              <div class="cll-wrap">
                <div class="cll-caption">
                  <h4>
                    <a href="resume-detail.html">{{ p.offre.titre }}</a
                    ><span
                      ><!-- <i class="ti-briefcase"></i> -->{{
                        p.offre.entreprise.email
                      }}</span
                    >
                  </h4>
                  <ul>
                    <li>
                      <i class="ti-location-pin cl-danger"></i
                      >{{ p.offre.place.name }}
                    </li>
                    <li>
                      <i class="ti-time cl-success"></i
                      >{{ p.offre.dateexpiration }}
                    </li>
                  </ul>
                </div>
              </div>

              <div class="cll-right">
                <a
                  href="#"
                  class="btn theme-btn btn-shortlist"
                  *ngIf="!p.accept"
                  ><!-- <i class="ti-plus"></i> -->accept</a
                >
              </div>
              &nbsp;
              <div class="cll-right">
                <a
                  (click)="deletecondidatures(p._id)"
                  class="btn theme-btn btn-shortlist"
                  ><!-- <i class="ti-plus"></i> -->delete</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
